* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-color: green;
}

.header {
    background-color:  black;
    text-align: center;
  }

.counter {
    font-family: fantasy;
    color: greenyellow;
    list-style: none;
}

.flamingBall {
    height: 75px;
}

main {
    margin: auto;
    align-items: center;
}

.ballPitch {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    max-width: 500px;
}

h1 {
    font-size: 24px;
    text-align: center;
    color: white;
}

.startContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
    margin-top:  60px;
    width: 800px;
    border: 3px solid black; 
  }

button {
   height: 50px;
   width: 150px;   
   font-size: 20px;
   background-color:white;
}

form {
   display: flex;
   flex-direction: column;
   width: 70%;
   padding: 10%;
   margin: auto;
   background: #c3d82a;
   border-radius: 10px;
   border-color: white;
}

fieldset {
   font-size: 18px;
}

legend {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: papyrus;
    font-size: 24px;
}

#answer {
    display: block;
    background-color: green;
    color: white;
    margin: auto;
}

#right {
    color:black;
    width: 70%;
   padding: 10%;
   margin: auto;
   background: #c3d82a;
   border-radius: 10px;
   border-color: white;
}


#next {
    display: block;
    background-color: white;
    color: black;
    margin: auto;
}

#rightAns {
    color:black;
    width: 70%;
    font-size: 24px;
   padding: 10%;
   margin: auto;
   text-align: center;
   background: #c3d82a;
   border-radius: 10px;
   border-color: white;
}